<h1> Kelly and Elijah's STRONG BLOG </h1>
<ul>
  <% @blogposts.map do |value| %>
    <li>
      <h2><%= link_to "#{value.title}", blog_post_path(value)%></h2>

    </li>
  <% end %>

 <%= button_to  "Write a new Blog Post " , new_blog_post_path, :method => 'get'%>
</ul>
